<h3>Satellite Count:</h3>
<div class="counts">
  <div>Total: <span>{{countByType('Total')}}</span></div>
  <div>Space Debris: <span>{{countByType('Space Debris')}}</span></div>
  <div>Communication: <span>{{countByType('Communication')}}</span></div>
  <div>Probe: <span>{{countByType('Probe')}}</span></div>
  <div>Positioning: <span>{{countByType('Positioning')}}</span></div>
  <div>Space Station: <span>{{countByType('Space Station')}}</span></div>
  <div>Telescope: <span>{{countByType('Telescope')}}</span></div>

</div>

<!-- TODO 4: add logic to count number of satellites displayed -->
